@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* font-family: 'Nunito', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor {
    background-image: url(../assets/img/fondo-pared-textura-hormigon-azul-grunge-vintage-vineta.jpg);
    background-size: contain;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 70px 10%;
}

header {
    color: white;
    background-image: url(../assets/img/3529.jpg);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.navBar {
    background-color: rgba(21, 22, 71, 0.699);
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.navBar ul {
    display: flex;
    list-style: none;
}

.principal {
    padding: 30px;
    font-size: 1.5rem;
}

.lista {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 7px 30px;
}

.lista:hover {
    background-color: rgba(21, 22, 71, 0.445);
}

#carrito {
    padding-right: 30px;
    height: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(11, 72, 92, 0);
    border: 0;
    font-size: 1rem;
}

#carrito:hover {
    transform: scale(1.2);
}

#carrito img {
    filter: invert(100%) sepia(0%) saturate(5622%) hue-rotate(75deg) brightness(124%) contrast(111%);
}

.contador {
    color: white;
}

.cards {
    color: white;
    justify-self: center;
    align-self: center;
    font-family: 'Nunito', sans-serif;
}

.card {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.titulo {
    font-weight: bold;
    font-size: 1.4rem;
}

.img {
    width: 100%;
}

.descripcion {
    font-weight: normal;
    font-size: 1rem;
}

.alCarrito {
    width: 120px;
    cursor: pointer;
    background-color: rgba(11, 72, 92, 0.815);
    border: 1px solid white;
    height: 30px;
    color:white;
    font-family: 'Nunito', sans-serif;
}

.alCarrito:hover {
    transform: scale(1.2);
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(21, 22, 71, 0.699);
}

.activarModal {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modalCarrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(21, 22, 71, 0.445) 0px 5px 15px 0px;
    justify-content: center;
}

.activarModal .modalCarrito {
    margin-top: 0;
}

.modalCarrito h3 {
    font-size: 2rem;
    text-align: center;
    color: black;
    padding-bottom: 5px;
    font-family: 'Nunito', sans-serif;
}

.modalCarrito #cerrarModal {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: white;
}

.modalCarrito #cerrarModal:hover {
    cursor: pointer;
}

.modalCarrito #cerrarModal:focus {
    outline: none;
}

.precioProducto {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.modalCarrito .precioProducto {
    padding-top: 10px;
}

.enCarrito {
    border: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    align-items: center;
}

.enCarrito:hover {
    border: 5px solid rgba(21, 22, 71, 0.699);
}

.eliminar {
    border: none;
    font-size: 20px;
}

.eliminar:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.eliminar:focus {
    outline: none;
}